.AllNotes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    flex-direction: column;
}

.AllNotes_inner{
    min-width: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2rem;
    gap: 3%;

}

.note_item{
    width: 100%;
    height: 16rem;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    
}

.span-item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3{
    margin: 0;
    padding: 0;
}

.note-pic{
    width: 70%;
  }

  .note-pic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

.afterEffects{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(50%,50%);
}

.note_item_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0;
    min-width: 90%;
    margin-top: 1%;
}

.note_item_title{

}

.note_item_desc{
    
    overflow: scroll;
}