.AllNotes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    flex-direction: column;
}

.AllNotes_inner{
    min-width: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 3%;

}

.note_item{
    min-width: 100%;
    min-height:13rem;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    
}

.afterEffects{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(50%,50%);
}

.note_item_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0;
    min-width: 90%;
    margin-top: 1%;
}

.note_item_title{
    margin-top: 2.5rem;
}

.note_item_desc{
    
    overflow: scroll;
}