.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00539C;
    
}

.navbar_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 90%;
    padding: 10px;
}

.navbar li{
    list-style: none;
    text-decoration: none;
}

.n-left{
    
}

.n-avatar{
    display: flex;
    gap: 20px;
    flex-direction: reverse;
    width: 200px;
    justify-content: flex-end;
}

.n-avatar>span{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.n-avatar>svg{
    width: 15%;
    height: 100%;
    color: black;
}

.n-center ul{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

/*navigation desktopOnly*/
.destopOnly{
    display: block;
  
}

.desktop_only{
    display: none;
  }
  
  .desktop_only > svg{
    font-size: 26px;
    cursor: pointer;
  }
  
  .desktop_only > svg:active{
    transform: scale(0.9, 0.9);
    color:#2dcff0;
  }
  
  @media(max-width:750px){
    .desktop_only{
      display: block;
    } 
  }
  
  @media(max-width:750px){
    .destopOnly{
      display: none;
    } 
  }